In [1]:
import Data_Load
import Preprocess as prpr

from parameters import *

In [2]:
# import dlp

In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
from pycaret.regression import *

## 1. 기본 데이터 
#### (1시간 단위의 교통 카드 이력 데이터, 정류장별 위/경도 좌표 포함)

In [5]:
base_data = pd.read_pickle("/home/seho/Passenger_Demand/data/base_data.pkl")
target_col = "totalcnt"

In [6]:
base_data.to_csv("/home/seho/Passenger_Demand/data/base_data.csv")

In [7]:
base_data = pd.read_csv("/home/seho/Passenger_Demand/data/base_data.csv")
target_col = "totalcnt"

In [8]:
base_data["transdate"][0]

'2020-04-08 05:00:00'

## 2. 파라미터 생성

In [9]:
base_data["transdate"] = pd.to_datetime(base_data["transdate"])
start_year = base_data["transdate"].dt.strftime("%Y").min()
end_year = base_data["transdate"].dt.strftime("%Y").max()
city = "울산"

In [10]:
params = parameters(service_key = service_key, 
                    google_key = google_key, 
                    career_net_key = career_net_key, 
                    city = city, 
                    start_year = start_year, 
                    end_year = end_year)

In [11]:
params_dict = params.get()

## 3. 외부 데이터 Load

In [24]:
save_path = "/home/seho/Passenger_Demand/data/api_data/"

In [25]:
data_api = Data_Load.Data_API()

In [26]:
%%time
data_api.get(city = city, params_dict = params_dict)

휴일 정보 수집 ... 완료
날씨 정보 수집 ... n_rows : 900, total_count : 8784, max_page = 10
완료
미세먼지 경보 정보 수집 ... n_rows : 1000, total_count : 304, max_page = 1
완료
상권 정보 수집 ... n_rows : 100, total_count : 36517, max_page = 366
완료
병원 정보 수집 ... n_rows : 1000, total_count : 1406, max_page = 2
완료
학교(초중고) 정보 수집 ... n_rows : 1000, total_count : 500, max_page = 1
완료
대학교 정보 수집 ... 완료
행사 정보 수집 ... n_rows : 1000, total_count : 6396, max_page = 7
완료
축제 정보 수집 ... n_rows : 1000, total_count : 1026, max_page = 2
완료
CPU times: user 11.4 s, sys: 319 ms, total: 11.7 s
Wall time: 11min 57s

In [12]:
with open("data_api_data.pkl", "rb") as f:
    data_api = pickle.load(f)

In [13]:
#with open("data_api_data.pkl", "wb") as f:
#    pickle.dump(data_api, f)

In [14]:
# # 휴일 정보 Load
# holiday_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/holiday_data.csv")
# # 날씨 정보 Load
# weather_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/weather_data.csv")
# # 미세먼지 경보 정보 Load
# pm_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/pm_data.csv")

# # 상권 정보 load (기존)
# trading_area_data = pd.read_csv("/home/seho/Passenger_Demand/data/울산광역시_상권정보_201231.csv")
# # 병원 정보 Load
# hospital_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/hospital_data.csv")
# # 학교 정보 Load (기존)
# school_data = pd.read_csv("/home/seho/Passenger_Demand/data/school_data.csv")

# # 행사 정보 Load
# event_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/event_data.csv")
# # 축제 정보 Load
# festival_data = pd.read_csv("/home/seho/Passenger_Demand/data/api_data/festival_data.csv")

In [15]:
preprocessing = prpr.Preprocess_Data(data = base_data,
                           date_col = "transdate", 
                           target_cols = target_col, 
                           stop_id_col = "stop_id", 
                           holiday_data = data_api.holiday_data,
                           weather_data = data_api.weather_data,
                           pm_data = data_api.pm_data,
                           trading_area_data = data_api.trading_area_data,
                           hospital_data = data_api.hospital_data,
                           school_data = data_api.school_data,
                           university_data = data_api.university_data,
                           event_data = data_api.event_data,
                           festival_data = data_api.festival_data,
                           num_cores = 12)

In [16]:
%%time
ml_data = preprocessing.run()

1. 결측치 Impute ... Finished ((563300, 15))
2. 시계열 변수 생성 : Finished ((563300, 67))
3. 시간적 특성 변수 추가 (특일, 날씨, 미세먼지 경보) ... Finished ((563300, 75))
4. 공간적 특성 정보 추가 (상권정보, 학교정보, 병원정보) ... Finished ((563300, 171))
5. 시공간적 특성 정보 추가 (행사정보, 축제정보) ... Finished ((563300, 173))
CPU times: user 49.1 s, sys: 5.76 s, total: 54.8 s
Wall time: 3min 23s

In [18]:
del base_data

In [32]:
temp = ml_data.dropna().copy()

In [35]:
temp["event_nearby"].value_counts()

0    495180
Name: event_nearby, dtype: int64

In [34]:
temp["festival_nearby"].value_counts()

0    495180
Name: festival_nearby, dtype: int64

In [31]:
ml_data.dropna().shape

(495180, 169)

## 4. 모델 학습

In [15]:
categorical_feature = ["dayofweek", "hour", "ntl_holi", "holi", "seq_holi"]

In [16]:
numerical_feature = [col for col in ml_data.columns if col not in categorical_feature + [target_col]]

#### 데이터 Setup

In [17]:
reg_experiment = setup(ml_data, 
                       target = "totalcnt", 
                       categorical_features = categorical_feature,
                       numeric_features = numerical_feature,
                       ignore_features = ["month", "weekofyear", "longitude", "latitude", "studentcnt", "childcnt", "normalcnt"],
                       train_size = 0.7,
                       n_jobs = 14,
                       session_id = 12345,
                       silent = True,
                       experiment_name="Passenger_Demand")

#### 초도 모델링

In [22]:
# %%time
# base_models = compare_models(include = ["lightgbm", "rf", "gbr", "lr", "ridge", "lasso", "en", "knn"])

CPU times: user 55.6 s, sys: 4.18 s, total: 59.8 s
Wall time: 52min 33s

#### 모델 선택 및 생성

In [23]:
%%time
lightgbm = create_model('lightgbm')

CPU times: user 48.3 s, sys: 1.7 s, total: 50 s
Wall time: 1min 13s

#### 모델 튜닝

In [24]:
%%time
tuned_lightgbm_optuna_tpe = tune_model(lightgbm, 
                                       optimize = "RMSE", 
                                       search_library = "optuna", 
                                       search_algorithm = "tpe", 
                                       fold = 10, 
                                       return_tuner = True, 
                                       n_iter = 10)

CPU times: user 2h 56min 31s, sys: 4h 2min 9s, total: 6h 58min 41s
Wall time: 29min 4s

In [27]:
with open("tuned_lightgbm_optuna_tpe.pkl", "wb") as f:
    pickle.dump(tuned_lightgbm_optuna_tpe, f)

In [31]:
%%time
ridge = create_model('ridge')

CPU times: user 1.04 s, sys: 4.25 s, total: 5.29 s
Wall time: 4.2 s

In [32]:
%%time
tuned_ridge_optuna_tpe = tune_model(ridge, 
                                       optimize = "RMSE", 
                                       search_library = "optuna", 
                                       search_algorithm = "tpe", 
                                       fold = 10, 
                                       return_tuner = True, 
                                       n_iter = 10)

CPU times: user 2min 1s, sys: 5min 27s, total: 7min 28s
Wall time: 45.7 s

In [33]:
with open("tuned_ridge_optuna_tpe.pkl", "wb") as f:
    pickle.dump(tuned_ridge_optuna_tpe, f)

In [34]:
stacked = stack_models([tuned_lightgbm_optuna_tpe[0], tuned_ridge_optuna_tpe[0]])

#### 모델 평가

In [35]:
%%time
evaluate_model(stacked)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

CPU times: user 672 ms, sys: 2.5 s, total: 3.17 s
Wall time: 270 ms

In [ ]:
test_tuned_lightgbm_optuna_tpe