In [1]:
import pandas as pd
import numpy as np
from pycaret.regression import *

In [2]:
from data_split import *

In [3]:
ml_data = pd.read_pickle("/home/seho/Passenger_Demand/data/ml_data.pkl")

In [4]:
ml_data = ml_data.set_index(["mybi_stop_id", "stop_nm", "transdate"])

In [13]:
ml_data["hour"] = ml_data["hour"].astype(str)

In [14]:
splitted_data = split(X_data = ml_data.drop(["normalcnt_bf1d", "studentcnt_bf1d", "childcnt_bf1d", 
                                             "normalcnt_bf1w", "studentcnt_bf1w", "childcnt_bf1w", 
                                             "longitude", "latitude", "day", "totalcnt", "studentcnt", "childcnt", "normalcnt"], 1),
                      Y_data = ml_data["totalcnt"],
                      split_ratio = [0.5, 0.3, 0.2], 
                      seed = 1234)

In [15]:
train_data = pd.concat([splitted_data["X_train"], splitted_data["Y_train"]], 1)

In [16]:
train_data.shape

(372563, 115)

In [17]:
reg_experiment = setup(train_data, 
                       target = "totalcnt", 
#                        log_experiment = True, 
                       experiment_name="Passenger_Demand")

In [18]:
bese_model = compare_models(fold=5)

In [2]:
%%time
mybicard = pd.read_parquet('/home/seho/Passenger_Demand/data/mybicard.parquet', engine='pyarrow')

CPU times: user 50.3 s, sys: 32.3 s, total: 1min 22s
Wall time: 34.5 s

In [ ]:
ml_data = pd.read_parquet("/home/seho/Passenger_Demand/data")

In [ ]:
reg_experiment = setup(housing_data, 
                       target = 'median_house_value', 
                       session_id=123, 
                       log_experiment=True, 
                       experiment_name='ca_housing')