In [1]:
from utils.Weather_Data_by_API import *

In [2]:
service_key = "eLWdQyzctRdtv8bEOuewsTtK6sNkoWp1bE74OUBk43jg4tU6AsI6yYt6Z%2B7sOeaqtB5pTH2yHuPRIuEHtu5amQ%3D%3D"

In [3]:
params_dict = {"serviceKey" : service_key,
                "stnIds" : "152",
                "startDt" : "20200101",
                "startHh" : "00",
                "endDt" : "20201201", 
                "endHh" : "23",
                "numOfRows" : "900",
                "dataType" : "XML",
                "pageNo" : "1",
                "dataCd" : "ASOS",
                "dateCd" : "HR"
                }

In [4]:
weather = Weather_Data_by_API(params_dict = params_dict)

In [5]:
%%time
weather_data = weather.get()

n_rows : 900, total_count : 8064, max_page = 9
CPU times: user 1.25 s, sys: 0 ns, total: 1.25 s
Wall time: 26.2 s

In [6]:
weather_data.drop_duplicates()

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2020-01-01 00:00,1,152,울산,-2.7,,,,2.3,,...,,2000,,,-4.0,,,,,
1,2020-01-01 01:00,2,152,울산,-3.3,,,,2.2,,...,,2000,,,-4.3,,,,,
2,2020-01-01 02:00,3,152,울산,-3.6,,,,3.0,,...,,2000,,,-4.4,,,,,
3,2020-01-01 03:00,4,152,울산,-3.3,,,,2.4,,...,,2000,,,-4.1,,,,,
4,2020-01-01 04:00,5,152,울산,-3.1,,,,1.3,,...,,2000,,,-4.0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,2020-12-01 19:00,8060,152,울산,6.8,,,,2.2,,...,74,2000,,,4.0,,,,,
8060,2020-12-01 20:00,8061,152,울산,6.1,,,,2.2,,...,70,2000,,,3.2,,,,,
8061,2020-12-01 21:00,8062,152,울산,5.8,,,,1.9,,...,,1998,,,2.4,,,,,
8062,2020-12-01 22:00,8063,152,울산,4.5,,,,1.7,,...,,2000,,,1.8,,,,,
8063,2020-12-01 23:00,8064,152,울산,4.3,,,,1.8,,...,,2000,,,1.4,,,,,

In [8]:
weather_data.to_parquet("~/data/weather_2018.parquet")