In [1]:
import Data_Load
import Preprocess as prpr

from parameters import *

In [2]:
# import dlp

In [3]:
import pandas as pd
import numpy as np
import pickle

In [5]:
!pip install pycaret

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycaret in /home/ds_user1/.local/lib/python3.6/site-packages (2.3.0)
Requirement already satisfied: pyod in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.8.7)
Requirement already satisfied: pyLDAvis in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (3.2.2)
Requirement already satisfied: scikit-plot in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: mlxtend in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.18.0)
Requirement already satisfied: imbalanced-learn>=0.7.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.7.0)
Requirement already satisfied: scipy<=1.5.4 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.5.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.4.5)
Requirement already satisfied: matplotlib in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (3.3.4)
Requirement already satisfied: cufflinks>=0.17.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.17.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.6/dist-packages (from pycaret) (7.6.3)
Requirement already satisfied: mlflow in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.15.0)
Requirement already satisfied: textblob in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.15.3)
Requirement already satisfied: lightgbm>=2.3.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (3.2.1)
Requirement already satisfied: gensim in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (4.0.1)
Requirement already satisfied: yellowbrick>=1.0.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.3.post1)
Requirement already satisfied: Boruta in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.3)
Requirement already satisfied: kmodes>=0.10.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.11.0)
Requirement already satisfied: joblib in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.0.1)
Requirement already satisfied: umap-learn in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.5.1)
Requirement already satisfied: spacy<2.4.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (2.3.5)
Requirement already satisfied: seaborn in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.11.1)
Requirement already satisfied: pandas in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.1.5)
Requirement already satisfied: wordcloud in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.8.1)
Requirement already satisfied: scikit-learn==0.23.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (0.23.2)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (4.14.3)
Requirement already satisfied: numpy==1.19.5 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (1.19.5)
Requirement already satisfied: IPython in /usr/local/lib/python3.6/dist-packages (from pycaret) (7.6.1)
Requirement already satisfied: pandas-profiling>=2.8.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pycaret) (2.11.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from scikit-learn==0.23.2->pycaret) (2.1.0)
Requirement already satisfied: colorlover>=0.2.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.6/dist-packages (from cufflinks>=0.17.0->pycaret) (41.0.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from cufflinks>=0.17.0->pycaret) (1.12.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.1.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (2.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.6.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (2.0.9)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.3.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.4.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (4.4.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.0.3)
Requirement already satisfied: parso>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from jedi>=0.10->IPython->pycaret) (0.5.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.6/dist-packages (from lightgbm>=2.3.1->pycaret) (0.33.4)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.5.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (3.0.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.15.3)
Requirement already satisfied: attrs>=17.4.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (20.3.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pycaret) (2019.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pycaret) (2.8.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.0.7)
Requirement already satisfied: tqdm>=4.48.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (4.60.0)
Requirement already satisfied: phik>=0.10.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.11.2)
Requirement already satisfied: htmlmin>=0.1.12 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: confuse>=1.0.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (1.4.0)
Requirement already satisfied: missingno>=0.4.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: requests>=2.24.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.25.1)
Requirement already satisfied: visions[type_image_path]==0.6.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (0.6.0)
Requirement already satisfied: jinja2>=2.11.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (2.5)
Requirement already satisfied: imagehash in /home/ds_user1/.local/lib/python3.6/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (4.2.0)
Requirement already satisfied: Pillow in /home/ds_user1/.local/lib/python3.6/site-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (8.2.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling>=2.8.0->pycaret) (3.13)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (2.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (1.1.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->pycaret) (0.1.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2018.1.18)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.6)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/lib/python3/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (3.0.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (2.0.5)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (0.7.4)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (3.0.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (7.4.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (0.8.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: importlib-metadata>=0.20 in /home/ds_user1/.local/lib/python3.6/site-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.10.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/ds_user1/.local/lib/python3.6/site-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /home/ds_user1/.local/lib/python3.6/site-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.4.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.7.5)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.2)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.5.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (18.0.2)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.6/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: dataclasses in /usr/local/lib/python3.6/dist-packages (from gensim->pycaret) (0.8)
Requirement already satisfied: smart-open>=1.8.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from gensim->pycaret) (5.0.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.6/dist-packages (from imagehash->visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: sqlparse>=0.3.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (0.4.1)
Requirement already satisfied: sqlalchemy in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (1.4.7)
Requirement already satisfied: docker>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (4.4.3)
Requirement already satisfied: databricks-cli>=0.8.7 in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (0.14.3)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.9.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: cloudpickle in /opt/tensorflow/horovod-source/.eggs/cloudpickle-1.2.1-py3.6.egg (from mlflow->pycaret) (1.2.1)
Requirement already satisfied: alembic<=1.4.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (1.4.1)
Requirement already satisfied: Flask in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.0.2)
Requirement already satisfied: prometheus-flask-exporter in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (0.18.1)
Requirement already satisfied: gunicorn in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (19.9.0)
Requirement already satisfied: querystring-parser in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: gitpython>=2.1.0 in /home/ds_user1/.local/lib/python3.6/site-packages (from mlflow->pycaret) (3.1.14)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: Mako in /home/ds_user1/.local/lib/python3.6/site-packages (from alembic<=1.4.1->mlflow->pycaret) (1.1.4)
Requirement already satisfied: python-editor>=0.3 in /home/ds_user1/.local/lib/python3.6/site-packages (from alembic<=1.4.1->mlflow->pycaret) (1.0.4)
Requirement already satisfied: tabulate>=0.7.7 in /home/ds_user1/.local/lib/python3.6/site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.6/dist-packages (from docker>=4.0.0->mlflow->pycaret) (0.57.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.7)
Requirement already satisfied: smmap<5,>=3.0.1 in /home/ds_user1/.local/lib/python3.6/site-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (4.0.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/ds_user1/.local/lib/python3.6/site-packages (from sqlalchemy->mlflow->pycaret) (1.0.0)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug>=0.14 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (0.15.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.2)
Requirement already satisfied: mistune>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: numexpr in /home/ds_user1/.local/lib/python3.6/site-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (0.17.1)
Requirement already satisfied: funcy in /home/ds_user1/.local/lib/python3.6/site-packages (from pyLDAvis->pycaret) (1.15)
Requirement already satisfied: numba>=0.35 in /home/ds_user1/.local/lib/python3.6/site-packages (from pyod->pycaret) (0.53.1)
Requirement already satisfied: statsmodels in /home/ds_user1/.local/lib/python3.6/site-packages (from pyod->pycaret) (0.12.2)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in /home/ds_user1/.local/lib/python3.6/site-packages (from numba>=0.35->pyod->pycaret) (0.36.0)
Requirement already satisfied: patsy>=0.5 in /home/ds_user1/.local/lib/python3.6/site-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: pynndescent>=0.5 in /home/ds_user1/.local/lib/python3.6/site-packages (from umap-learn->pycaret) (0.5.2)

In [6]:
!pip install cupy-cuda100

Defaulting to user installation because normal site-packages is not writeable
Collecting cupy-cuda100
  Downloading cupy_cuda100-8.6.0-cp36-cp36m-manylinux1_x86_64.whl (369.7 MB)
     |████████████████████████████████| 369.7 MB 16 kB/s  eta 0:00:01
Requirement already satisfied: fastrlock>=0.3 in /usr/local/lib/python3.6/dist-packages (from cupy-cuda100) (0.4)
Requirement already satisfied: numpy>=1.15 in /home/ds_user1/.local/lib/python3.6/site-packages (from cupy-cuda100) (1.19.5)
Installing collected packages: cupy-cuda100
Successfully installed cupy-cuda100-8.6.0

In [7]:
from pycaret.regression import *

## 1. 기본 데이터 
#### (1시간 단위의 교통 카드 이력 데이터, 정류장별 위/경도 좌표 포함)

In [5]:
base_data = pd.read_pickle("/home/seho/Passenger_Demand/data/base_data.pkl")
target_col = "totalcnt"

In [6]:
base_data.to_csv("/home/seho/Passenger_Demand/data/base_data.csv")

In [8]:
base_data = pd.read_csv("/project/work/Passenger_Demand/data/base_data.csv")
target_col = "totalcnt"

In [9]:
base_data["transdate"][0]

'2020-04-08 05:00:00'

## 2. 파라미터 생성

In [10]:
base_data["transdate"] = pd.to_datetime(base_data["transdate"])
start_year = base_data["transdate"].dt.strftime("%Y").min()
end_year = base_data["transdate"].dt.strftime("%Y").max()
city = "울산"

In [11]:
params = parameters(service_key = service_key, 
                    google_key = google_key, 
                    career_net_key = career_net_key, 
                    city = city, 
                    start_year = start_year, 
                    end_year = end_year)

In [12]:
params_dict = params.get()

## 3. 외부 데이터 Load

In [10]:
save_path = "/project/work/data/api_data/"

In [11]:
data_api = Data_Load.Data_API(service_key = service_key, google_key = google_key)

In [12]:
%%time
data_api.get(city = city, params_dict = params_dict)

휴일 정보 수집 ... 완료
날씨 정보 수집 ... n_rows : 900, total_count : 8784, max_page = 10
완료
미세먼지 경보 정보 수집 ... n_rows : 1000, total_count : 304, max_page = 1
완료
상권 정보 수집 ... n_rows : 100, total_count : 36517, max_page = 366
완료
병원 정보 수집 ... n_rows : 1000, total_count : 1406, max_page = 2
완료
학교(초중고) 정보 수집 ... n_rows : 1000, total_count : 500, max_page = 1
완료
대학교 정보 수집 ... 완료
행사 정보 수집 ... n_rows : 1000, total_count : 6396, max_page = 7
완료
축제 정보 수집 ... n_rows : 1000, total_count : 1026, max_page = 2
완료
CPU times: user 26.3 s, sys: 2.11 s, total: 28.4 s
Wall time: 22min 41s

data_api.holiday_data.to_csv('/project/work/data/api_data/holiday_data.csv', index=False)
data_api.weather_data.to_csv('/project/work/data/api_data/weather_data.csv', index=False)
data_api.pm_data.to_csv('/project/work/data/api_data/pm_data.csv', index=False)
data_api.trading_area_data.to_csv('/project/work/data/api_data/trading_area_data.csv', index=False)
data_api.hospital_data.to_csv('/project/work/data/api_data/hospital_data.csv', index=False)
data_api.school_data.to_csv('/project/work/data/api_data/school_data.csv', index=False)
data_api.university_data.to_csv('/project/work/data/api_data/university_data.csv', index=False)
data_api.event_data.to_csv('/project/work/data/api_data/event_data.csv', index=False)
data_api.festival_data.to_csv('/project/work/data/api_data/festival_data.csv', index=False)

In [9]:
with open("data_api_data.pkl", "rb") as f:
    data_api = pickle.load(f)

In [10]:
#with open("data_api_data.pkl", "wb") as f:
#    pickle.dump(data_api, f)

In [23]:
# 휴일 정보 Load
holiday_data = pd.read_csv("/project/work/data/api_data/holiday_data.csv")
# 날씨 정보 Load
weather_data = pd.read_csv("/project/work/data/api_data/weather_data.csv")
# 미세먼지 경보 정보 Load
pm_data = pd.read_csv("/project/work/data/api_data/pm_data.csv")
# 상권 정보 load (기존)
trading_area_data = pd.read_csv("/project/work/data/api_data/trading_area_data.csv")
# 병원 정보 Load
hospital_data = pd.read_csv("/project/work/data/api_data/hospital_data.csv")
# 학교 정보 Load (기존)
school_data = pd.read_csv("/project/work/data/api_data/school_data.csv")
# 대학교 정보 Load (기존)
university_data = pd.read_csv("/project/work/data/api_data/university_data.csv")
# 행사 정보 Load
event_data = pd.read_csv("/project/work/data/api_data/event_data.csv")
# 축제 정보 Load
festival_data = pd.read_csv("/project/work/data/api_data/festival_data.csv")

In [25]:
event_data['eventStartDate'] = pd.to_datetime(event_data['eventStartDate'])

In [26]:
event_data['eventEndDate'] = pd.to_datetime(event_data['eventEndDate'])

In [32]:
event_data['eventStartTime'] = pd.to_datetime(event_data['eventStartTime'])
event_data['eventEndTime'] = pd.to_datetime(event_data['eventEndTime'])

ValueError: ('Unknown string format:', '10:30~11:30')

In [35]:
event_data['eventStartTime'][0]

'16:00'

In [ ]:
eventStartTime

In [14]:
preprocessing = prpr.Preprocess_Data(data = base_data,
                           date_col = "transdate", 
                           target_cols = target_col, 
                           stop_id_col = "stop_id", 
                           holiday_data = holiday_data,
                           weather_data = weather_data,
                           pm_data = pm_data,
                           trading_area_data = trading_area_data,
                           hospital_data = hospital_data,
                           school_data = school_data,
                           university_data = university_data,
                           event_data = event_data,
                           festival_data = festival_data,
                           num_cores = 2)

In [16]:
preprocessing = prpr.Preprocess_Data(data = base_data,
                           date_col = "transdate", 
                           target_cols = target_col, 
                           stop_id_col = "stop_id", 
                           holiday_data = data_api.holiday_data,
                           weather_data = data_api.weather_data,
                           pm_data = data_api.pm_data,
                           trading_area_data = data_api.trading_area_data,
                           hospital_data = data_api.hospital_data,
                           school_data = data_api.school_data,
                           university_data = data_api.university_data,
                           event_data = data_api.event_data,
                           festival_data = data_api.festival_data,
                           num_cores = 2)

In [31]:
event_data.eventStartTime

0            16:00
1            19:30
2            19:30
3            16:00
4            17:30
5            17:30
6            14:00
7            16:30
8            11:00
9            11:00
10           11:00
11           14:00
12           14:00
13           11:00
14           14:00
15           11:00
16           10:30
17           14:00
18            8:00
19     10:30~11:30
20     14:00~16:00
21     14:00~16:00
22     10:00~19:00
23     09:00~18:00
24     10:00~19:00
25     09:00~18:00
26     09:00~18:00
27     11:00~13:00
28     15:00~17:00
29     13:00~15:00
30     11:00~13:00
31     13:00~16:00
32     14:00~16:00
33     10:00~12:00
34     10:30~11:00
35     09:00~18:00
36     09:00~20:00
37     09:00~20:00
38     09:00~18:00
39     00:00~00:00
40     09:30~11:30
41     10:00~12:00
42     10:00~12:00
43     14:00~16:00
44     14:00~17:00
45     10:00~12:00
46     14:00~16:00
47     14:00~16:00
48     16:00~17:30
49     16:00~21:30
50     10:30~12:00
51     10:00~19:00
52     11:00~11:30
53     11:00~12:40
54     14:00~18:00
55     10:30~12:30
56     14:00~17:00
57     20:00~21:00
58     14:00~18:00
59     13:30~15:40
60     13:30~15:40
61     15:00~17:00
62     14:00~16:00
63     09:30~12:00
64     08:40~10:10
65     09:30~12:00
66     10:00~12:00
67     10:00~12:00
68     14:00~16:00
69     19:30~21:00
70     10:00~12:00
71     10:00~12:00
72     10:00~12:00
73     16:20~18:00
74     14:00~16:00
75     19:00~21:00
76     10:00~19:00
77     09:00~18:00
78     14:00~16:00
79     09:00~18:00
80     09:00~18:00
81     09:00~18:00
82     10:30~11:00
83     10:00~11:45
84     16:20~18:00
85     14:00~16:00
86     10:00~12:00
87     10:00~12:00
88     10:00~12:00
89     10:00~12:00
90     10:00~12:40
91     13:30~14:20
92     10:30~12:30
93     13:30~15:30
94     09:00~18:00
95     10:00~12:00
96     10:00~12:00
97     14:00~17:00
98           19:30
99           19:30
100          19:30
101          19:30
102          19:30
103          19:30
104          15:00
105          19:30
106          19:30
107          19:30
108          17:00
109          17:00
110          19:30
111          19:30
112          19:00
113          19:30
114          15:00
115          12:00
Name: eventStartTime, dtype: object

In [29]:
%%time
ml_data = preprocessing.run()

1. 결측치 Impute ... Finished ((563300, 327))
2. 시계열 변수 생성 : Finished ((563300, 379))
3. 시간적 특성 변수 추가 (특일, 날씨, 미세먼지 경보) ... Finished ((563300, 387))
4. 공간적 특성 정보 추가 (상권정보, 학교정보, 병원정보) ... Finished ((563300, 483))
5. 시공간적 특성 정보 추가 (행사정보, 축제정보) ...

AttributeError: Can only use .str accessor with string values!

In [ ]:
ml_data

In [18]:
del base_data

## 4. 모델 학습

In [15]:
categorical_feature = ["dayofweek", "hour", "ntl_holi", "holi", "seq_holi"]

In [16]:
numerical_feature = [col for col in ml_data.columns if col not in categorical_feature + [target_col]]

#### 데이터 Setup

In [17]:
reg_experiment = setup(ml_data, 
                       target = "totalcnt", 
                       categorical_features = categorical_feature,
                       numeric_features = numerical_feature,
                       ignore_features = ["month", "weekofyear", "longitude", "latitude", "studentcnt", "childcnt", "normalcnt"],
                       train_size = 0.7,
                       n_jobs = 14,
                       session_id = 12345,
                       silent = True,
                       experiment_name="Passenger_Demand")

#### 초도 모델링

In [22]:
# %%time
# base_models = compare_models(include = ["lightgbm", "rf", "gbr", "lr", "ridge", "lasso", "en", "knn"])

CPU times: user 55.6 s, sys: 4.18 s, total: 59.8 s
Wall time: 52min 33s

#### 모델 선택 및 생성

In [23]:
%%time
lightgbm = create_model('lightgbm')

CPU times: user 48.3 s, sys: 1.7 s, total: 50 s
Wall time: 1min 13s

#### 모델 튜닝

In [24]:
%%time
tuned_lightgbm_optuna_tpe = tune_model(lightgbm, 
                                       optimize = "RMSE", 
                                       search_library = "optuna", 
                                       search_algorithm = "tpe", 
                                       fold = 10, 
                                       return_tuner = True, 
                                       n_iter = 10)

CPU times: user 2h 56min 31s, sys: 4h 2min 9s, total: 6h 58min 41s
Wall time: 29min 4s

In [27]:
with open("tuned_lightgbm_optuna_tpe.pkl", "wb") as f:
    pickle.dump(tuned_lightgbm_optuna_tpe, f)

In [31]:
%%time
ridge = create_model('ridge')

CPU times: user 1.04 s, sys: 4.25 s, total: 5.29 s
Wall time: 4.2 s

In [32]:
%%time
tuned_ridge_optuna_tpe = tune_model(ridge, 
                                       optimize = "RMSE", 
                                       search_library = "optuna", 
                                       search_algorithm = "tpe", 
                                       fold = 10, 
                                       return_tuner = True, 
                                       n_iter = 10)

CPU times: user 2min 1s, sys: 5min 27s, total: 7min 28s
Wall time: 45.7 s

In [33]:
with open("tuned_ridge_optuna_tpe.pkl", "wb") as f:
    pickle.dump(tuned_ridge_optuna_tpe, f)

In [34]:
stacked = stack_models([tuned_lightgbm_optuna_tpe[0], tuned_ridge_optuna_tpe[0]])

#### 모델 평가

In [35]:
%%time
evaluate_model(stacked)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

CPU times: user 672 ms, sys: 2.5 s, total: 3.17 s
Wall time: 270 ms

In [ ]:
test_tuned_lightgbm_optuna_tpe